@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Passion+One:400");

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}

div.container {
    width: 100%;
    border: 1px solid gray;
}

header{
    padding: 7em;
    color: white;
    background-image:url("img/Header2.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 800px;
    background-color: black;
    clear: left;
}

footer{padding: 2em;
    color: white;
    background-image:url("img/footer.jpg");
    background-repeat: no-repeat;
    background-position:left;
    background-size: 1320px;
    background-color: black;
    clear: left;
    font-size:15px;
    text-align: center;
    font-family: "Passion one";
    }
body {background-image:url("img/latar.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:right;
    background-size: 1080px;
}
h2 {margin-left:100px;}

.judul {font-family: "Courier New";
    color: white;
    text-align: center;
    text-decoration: underline}

.header {border: 1px white;
    padding: 10px 150px 10px 100px ;
    background-color: rgba(0, 0, 0, 0.7);

     }

.article {border: 1px white;
    padding: 25px 100px ;
    background-color: rgba(250, 250, 250, 0.7);}
p {font-size:18px;}



